*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    background :#a38545; 
    border-radius: 5px;
  }

 boby{
    background: #d4bdde;
    display: flex;
    justify-content:center ;
    min-height: 100vh;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center; /* เพิ่มบรรทัดนี้ */
    margin-top: -2%;
    margin-left: 0%;
    padding: 5%;
    gap: 100px;
  }
  .container-box{ 
    display: flex;
    align-items: center;
    margin-top: -5%;
    margin-left: 0%;
    padding: 5%;
    gap: 100px;
  
  }
  .chart{
     padding: 2rem;
     border: 1px solid #fcac00 ;
     border-radius: 1rem;
     background:#251c35;
     box-shadow:0 0 16px rgba(4, 33, 129, 0.8) ;
  }
  .photo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid navy; /* ปรับความหนาของเส้นขอบเป็น 4px */
  }
  
  .photo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid navy; /* เพิ่มบรรทัดนี้ */
  }
  .data {
    border: 2px solid #251c35;
    padding: 1em;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* เพิ่มเงา */
  }
  

  